
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>

</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="CareerObjective">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skills">SKILLS</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="EducationalQualification">EDUCATIONAL QUALIFICATION</a></li>
                
            </ul>
        </nav>
    </div>
    <center>
        <h1>
            <u>CURRICULUM VITAE</u>
        </h1>
    </center>
    <br />
    <h2>Tabammum Haque Pranty</h2>
    <h3>Software Engineer</h3>
    <h3>American International University-Bangladesh</h3>
    <h3>Rajarbag, Dhaka, Bangladesh</h3>
    <h3>tabammumhaque@gmail.com</a></h3>
    <h3>017723.....</h3>
    <br /><hr />
</body>
</html>