
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CareerObjective</title>

</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="CareerObjective">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skills">SKILLS</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="EducationalQualification">Educational QUALIFICATION</a></li>

            </ul>
        </nav>
    </div>
    <center>
        <h1>
            <u>Career Objective</u>
        </h1>
    </center>
    <br />
    <h2>To obtain a position with opportunities to unlike my tecnical, experiences,skill,talent,creativity,sincerity for the better achievement of the organization</h2>
    <br /><hr />
</body>
</html>