
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Educational Qualificaion</title>

</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="CareerObjective">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skills">SKILLS</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="EducationalQualification">Educational QUALIFICATION</a></li>

            </ul>
        </nav>
    </div>
    <center>
        <h1>
            <u>Educational Qualification</u>
        </h1>
    </center>
    <br />
    <table>
        <tr>
            <th>University/College/School</th>
            <th>Passing Year</th>
            <th>CGPA/GPA</th>
            <th>Board</th>
        </tr>
        <tr>

            <td>American International University-Bangladesh </td>
            <td>2023</td>
            <td>3.82</td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>Islampur JJKM Girls High School and College</td>
            <td>2018</td>
            <td>4.25</td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>Islampur JJKM Girls High School and College</td>
            <td>2016</td>
            <td>5.00</td>
            <td>Dhaka</td>
        </tr>
    </table>
    <br /><hr />
</body>
</html>