
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skills</title>

</head>
<body>
    <div class="col-lg-6 offset-lg-3">
        <nav>
            <ul>
                <li style="display: inline-block; margin-left: 15px;"><a href="About">ABOUT</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="CareerObjective">CAREER OBJECTIVE</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="Skills">SKILLS</a></li>
                <li style="display: inline-block; margin-left: 15px;"><a href="EducationalQualification">Educational QUALIFICATION</a></li>

            </ul>
        </nav>
    </div>
    <center>
        <h1>
            <u>Skills</u>
        </h1>
    </center>
    <br />
    <h2>*Efficient knowledge of Microsoft Office, Github, C++, HTML, PHP.</h2>
    <h2>*Able to work in a tight schedule</h2>
    <h2>*Fluency in both Bangla and English languages</h2>
    <br /><hr />
</body>
</html>